.nav{
    background-color: #2393AE;
    text-align: center;
}

.logo{
    width: 300px;
    height: 70px;
    margin-right: 50px;
}

.btnNav{
    display: flex;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    background-color: #265073;
    margin-left: 10px;
    font-size: 15px;
    width: 130px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.btnNav:hover{
    border-color: black;
    font-size: 18px;
    color: #265073;
    background-color: white;
    border: 2px solid #265073;
}


.btns-nav{
    display: flex;
    justify-content: flex-end !important;
}
.search-textField{
    width: 500px;
    height: 50px !important; 
    border-radius: 20px 0 0 20px !important;
}
.btnSearch{
    font-size: 20px !important;
    border-radius: 20px;
    font-size: 15px !important;
    color: #CBEAE2;
    background-color: #265073 !important;
    height: 50px;
    border-radius: 0px 10px 10px 0px !important;
    width: 50px;

}
.btnSearch:hover{
    font-size: 25px !important;
}
.btnPerfil{
    color: #CBEAE2;
    border-radius: 100% !important;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    background-color: #265073 !important;
}



@media (max-width: 1450px) {
    .logo{
        margin-right: 50px;
    }
    .btnPerfil{
        margin-left: 5px;
    }
   
    .search-textField{
        width: 550px;
    }
    .logo{
        width: 200px;
        height: 50px;
    }
}

@media (max-width: 1370px) {
  
    .search-textField{
        width: 400px;
    }
}

@media (max-width: 1210px) {
    .search-textField{
        width: 250px;
    }
    .btnNav{
        font-size: 15px;
        width: 100px;
    }
}

@media (max-width: 999px) {
    .search-textField{
        width: 500px;
    }
    .logo{
        margin: 0;
    }
    .btnNav{
        width: 95vmax;
        margin-top: 10px;
    }
    .btnPerfil{
        width: 95vmax;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 20px !important;
    }
}
@media (max-width: 700px) {

    
    .btnNav{
        width: 95vw;
        
    }
    .btnPerfil{
        width:  95vw;
       
    }
}
@media (max-width: 500px) {

    
    .btnNav{
        width: 85vw;
        
    }
    .btnPerfil{
        width:  85vw;
       
    }
}
@media (max-width: 400px) {
    .btns-nav{
        flex-basis: 0 !important;
        flex-grow: 0 !important;
    }
    .search-textField{
        width: 300px;
    }
    .logo{
        margin-left: 40%;
    }
    .btnNav{
        width: 85vw;
        
    }
    .btnPerfil{
        width:  85vw;
       
    }
}